@import "./../../../../../design/colors.scss";

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $primaryTurquoise;
  &-text {
    margin-bottom: 0;
    color: $primaryWhite;
    font-size: 18px;
  }
}
