@import "./../../../../../../../design/colors.scss";

.bg__block {
  width: 50px;
  height: 30px;
  border: 1px dashed $secondary-text;
}

.primary {
  background-color: $primary;
  &-text {
    background-color: $primary-text;
  }
}

.secondary {
  background-color: $secondary;
  &-text {
    background-color: $secondary-text;
  }
}

.colors {
  margin-bottom: 50px;
}
