@import "./../../../design/colors.scss";

.header {
  background-color: $primary;
  &__link:hover {
    color: $secondary;
  }
}

.nav {
  margin-bottom: 50px;
  font-size: 20px;
  justify-content: space-between;
  &-link {
    color: $text-color;
  }
}
