@import "./../../../design/colors.scss";

.header {
  background-color: $primary;
  &-logo {
    margin: auto 0;
    height: 40px;
  }
}

.nav {
  font-size: 20px;
  &-link {
    padding: 1rem;
    color: $primary-text;
    &:hover {
      color: $secondary-text;
    }
  }
}
