@import "./../../../design/colors.scss";

.header {
  background-color: $primary;
}

.nav {
  margin-bottom: 50px;
  font-size: 20px;
  justify-content: space-between;
  &-link {
    color: $primary-text;
    &:hover {
      color: $secondary-text;
    }
  }
}
