@import "./../../../design/colors.scss";

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $primary;
  &__text {
    margin-bottom: 0;
    color: $primary-text;
    font-size: 18px;
  }
}
