.author-container {
  display: flex;
  margin: 50px 0;

  @media screen and (max-width: 570px){
    flex-direction: column;
  }
}

.author-image {
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;

  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

  @media screen and (max-width: 765px){
    max-width: 200px;
    max-height: 200px;
  }

  @media screen and (max-width: 570px){
    max-width: 570px;
    max-height: 570px;
    width: 90vw;
  }

  &:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.author-info {
  display: flex;
  flex-direction: column;
  margin-left: 100px;

  @media screen and (max-width: 570px){
    margin-top: 30px;
    margin-left: 0;
  }
}

.author-info button {
  margin-top: auto;
}