.author-container {
  display: flex;
  margin-top: 50px;
}

.author-image {
  max-width: 300px;
  max-height: 300px;
}

.author-info {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.author-info button {
  margin-top: auto;
}